@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.container {
	/* border: 1px solid black; */
	width: 90%;
	margin: 20px auto;
}

.header {
	display: flex;
	align-items: center;
	/* border: 1px solid red; */
	width: 170px;
	justify-content: space-between;
}

header img {
	width: 40px;
	border-radius: 10px;
}

.userName p {
	color: #959beb;
	font-weight: 400;
	font-size: 0.7em;
	text-transform: uppercase;
}

.userName h4 {
	color: #4649a0;
	text-transform: uppercase;
	font-size: 0.9em;
}

/* main content */

.jargon {
	/* border: 1px solid red; */
	/* margin-top: 20px; */
	margin: 20px 0;
	max-width: 300px;
}

.jargon h3 {
	color: #4649a0;
	font-weight: 400;
	font-size: 1.25em;
}

.jargon span {
	font-weight: 600;
}

/* searchbar */
.searchBar {
   /* border: 1px solid red; */
   position: relative;
   margin: 20px 0;
}


.searchBar input {
	display: block;
	width: 100%;
	/* max-width: 295px; */
	margin: 0 auto;
	height: 45px;
	border-radius: 20px;
	border: 1px solid white;
   box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.05);
   /* box-shadow: 2px 3px 50px rgba(0, 0, 0, 0.1); */
	padding: 20px;
	box-sizing: border-box;
}

input:focus {
   outline: none;
   border: 0;
}

.searchBar input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
   color: #4649a0;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
}
.searchBar input::-moz-placeholder {
	/* Firefox 19+ */
   color: #4649a0;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
}
.searchBar input:-ms-input-placeholder {
	/* IE 10+ */
   color: #4649a0;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
}
.searchBar input:-moz-placeholder {
	/* Firefox 18- */
   color: #4649a0;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
}

.searchBar .searchButton {
   background-color: #4649a0;
   display: inline-block;
   width: 36px;
   height: 36px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 4px;
   right: 11px;
   bottom: 5px;
   cursor: pointer;
   transition: .5s ease all;
}

.searchButton:hover {
   box-shadow: 2px 3px 5px rgba(227, 228, 247, 10);
   background-color: #393c85;
}

.searchButton svg {
   color: white;
}

/* Banner */

.banner {
   display: flex;
   align-items: center;
   background-color: #E3E4F7;
   border-radius: 15px;
   justify-content: center;
   padding: 20px;
   height: 123px;
   /* box-sizing: border-box; */
   /* box-shadow: 2px 3px 50px rgba(0, 0, 0, 0.1); */
   box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.05);
   margin: 24px 0;
}

.banner img {
   max-width: 100px;
   width: 100%;
   /* font-size: 40px; */
   margin-right: 10px;
}

.banner h3 {
   color: #4649a0;
   font-size: 1.3em;
   max-width: 200px;
   width: 100%;
   font-weight: bolder;
}

.banner span {
   font-style: italic;
   font-weight: 500;
}

/* Card Category */

.kategoriCard {
   /* display: flex; */
   /* justify-content: space-between; */
   margin: 20px 0 60px 0;
   display: grid;
   grid-template-columns: repeat(3, minmax(50px, 1fr));
   grid-template-rows: repeat(1, minmax(175px, 1fr));
   /* border: 1px solid red; */
   justify-items: center;
   gap: 15px;
}

.kategori .card {
   width: 100%;
   /* height: 175px; */
   /* max-width: 100px; */
   /* border: 1px solid black; */
   /* max-height: px; */
   /* padding: 15px; */
   border-radius: 10px;
   box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.05);
   /* cursor: pointer; */
   box-sizing: border-box;
}

.kategori h3 {
   color: #4649a0;
   /* font-weight: 700; */
}

.card h4 {
   width: 100%;
}

.satu {
   background-image: url('img/kerajinanimg.png');
   background-size: cover;
}

.card a {
   /* background-color: red; */
   padding: 15px;
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
   font-weight: 700;
   color: black;
   box-sizing: border-box;
}

.dua {
   background-image: url('img/bahanpanganimg.png');
   background-size: cover;
}

.tiga {
   background-image: url('img/jasaimg.png');
   background-size: cover;
}

/* navbar */

nav {
   background-color: #4649a0;
   display: grid;
   position: fixed;
   /* top: 0; */
   bottom: 0;
   right: 0;
   left: 0;
   padding: 10px;
   grid-template-columns: repeat(4, minmax(50px, 60px));
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

nav .icon {
   /* background-color: white; */
}

nav svg {
   color: white;
}